<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styleindex.css">
    <title>Kelurahan Durian</title>
</head>
<body>
    
    <section>
        <nav class="animate__animated animate__lightSpeedInLeft animate__slower">
            <ul>
                <li><a href="/home">HOME</a></li>
				<li><a href="/tambah">TAMBAH ANGGOTA</a></li>
				<li><a href="/data">DATA PENDUDUK</a></li>
				<li><a href="/sosmed">SOSMED</a></li>
				<li><a href="/logout">LOGOUT</a></li>
            </ul>
        </nav>
    </section>
</body>
</html>