<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
        <link rel="stylesheet" href="css/sosmed.css">
		<title>Kelurahan Durian</title>
	</head>
	<body>
        <section>
			<nav class="animate__animated animate__lightSpeedInLeft animate__slower">
				<ul>
					<li><a href="/home">HOME</a></li>
					<li><a href="/tambah">TAMBAH ANGGOTA</a></li>
					<li><a href="/data">DATA PENDUDUK</a></li>
					<li><a href="/sosmed">SOSMED</a></li>
					<li><a href="/logout">LOGOUT</a></li>
				</ul>
			</nav>
		</section>
		<div class="login-form">
			<h1>Test Sosmed</h1>
			<form action="/sosmed" method="POST">
				<input type="text" name="nama" placeholder="Username" required>
				<input type="password" name="password" placeholder="Password" required>
				<input type="submit">
			</form>
		</div>
	</body>
</html>


